{
  "semi": true,
  "trailingComma": "none",
  "singleQuote": true,
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "htmlWhitespaceSensitivity": "css",
  "proseWrap": "preserve",
  "jsxSingleQuote": false,
  "quoteProps": "as-needed",
  "requirePragma": false,
  "insertPragma": false,
  "parser": "babel"
}
